<div class="modal-header">
  <h4 class="modal-title">¡Hola!</h4>
</div>
<div class="modal-body">
  <p>Para continuar, debes ingresar tu nombre:</p>
  <div class="mb-4">
    <input
      class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none"
      id="username"
      type="text"
      placeholder="Escribe tu nombre"
      [(ngModel)]="usernameInput"
    />
  </div>
</div>
<div class="modal-footer">
  <button
    class="bg-sky-300 hover:bg-sky-600 text-white font-bold py-2 px-4 rounded"
    [ngClass]="{ 'opacity-50 cursor-not-allowed': usernameInput.length < 3 }"
    [disabled]="usernameInput.length < 3"
    (click)="onClick()"
    aria-label="Guardar nombre de usuario"
  >
    Aceptar
  </button>
</div>
